$font: "PT Sans", sans-serif;
$title-font: "Titillium Web", $font;

$bg-low: #16111A;
$bg-mid: #201E23;
$bg-high: #68616E;
$bg-top: #BAB2C0;

$hl-green: #0DBA62;
$hl-blue: #187975;
$hl-white: #fff;

// @mixin linear-gradient {
//   -webkit-linear-gradient
// }
